%table.table.table-bordered.table-striped
  %thead
    %tr
      - @headers.each do |header|
        %th=header
  %tbody
    - @tab.results.each  do |hit|
      %tr
        - @headers.each do |key|
          %td=hit._source[key]
= paginate @tab.results, remote: true
