.col-md-10
  %ul.nav.nav-tabs
    %li.tabtext.active
      = link_to 'main'
    - @parent_tabs.each do |tab|
      %li.tabtext
        =link_to tab, load_tab_document_path(id: @id, parent: @type, type:  tab),  remote: true
.row
  .col-md-8.col-md-offset-1
    #tab-content
      = render partial: 'main_tab'





